



#banner{
    height: 300px;
    background-color: yellow;
}

/* header */

/* flex 다시 읽고 만들어보기 오늘숙제 */

/* body */
#banner > img {
    width: 100%;
    height: 300px;
}

#body > h1{margin-top: 16px;}
#product-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}
.product-card{
    width: 180px;
    height: 270px;
    margin-left: 12px;
    margin-bottom: 12px;
    border: 1px solid rgb(230,230,230);
    border-radius: 12px;
    overflow: hidden;
}

.product-img{
    display: block;
    width: 100%;
    height: 210px;
}

.product-contents{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.product-name{
    font-size: 14px;
}

.product-price{
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
}

.product-seller{
    display: flex;
    align-items: center;
}
.product-seller > img{
    width: 24px;
}

.product-link{
    color: inherit;
    text-decoration: none;
}
.product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-date {
    font-size: 12px;
    color: rgb(136,136,136);
}
/* 
span  텍스트를 나눌때
div 영역을 나눌때 */